  @import "colors";
  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: $broken-white;
  }
  .open-menu {
    padding: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
    font-size: 3rem;
    font-weight: 500;
    background-color: $green;
    span {
      color: $broken-white;
      display: inline-block;
    }
  }
  .header-title {
    padding-left: 980px;
    position: fixed;
  }
  .title{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 4rem;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #111;
    span {
      border-bottom: 2px solid #111;
    }
  }

  .sidemenu {
    height: 100%;
    width:0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;

    a {
      padding-top: 20px;
      padding-left: 10px;
      padding-right: 10px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
    .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
  }
  .sidemenu a:hover {
    color: #f1f1f1;
  }
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }

  .content {
    padding: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2rem;
    &-wrapper {
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    span {
      padding: 15px;
      display: block;
    }
    &-list {
      padding-top: 15px;
      overflow-x: auto;
      &-table {
        border-collapse: collapse;
        table-layout: fixed;
        width: 100%;
        font-size: 1.4rem;
        margin-bottom: 15px;
        min-width: 910px;
        th, td {
          padding: 10px 15px;
        }
        th {
          font-weight: 900;
        }
        td {
          border-bottom: 1px solid grey;
        }
      }
    }
  }
  @media screen and (max-height: 450px) {
    .sidemenu {
      padding-top: 15px;
      a {
        font-size: 18px;
      }
    }
  }
